<div class="section-kicker">Account action</div>
<h1><%= title %>.</h1>
<p class="success-note"><%= message %></p>
<div class="auth-actions">
  <a class="btn btn-primary" href="<%= actionUrl %>">Continue</a>
  <a class="btn btn-ghost" href="/">Back home</a>
</div>
